# Deserts of Introgression

In [2]:
import pandas as pd
from pybedtools import BedTool

**INDEX**

**Data processing**

Human high-frequency changes within Deserts

Human high-frequency changes not in Deserts

**1. Deserts vs NO Deserts (Whole genome)** 
    
    Difference mean frequency
    Difference percentage fixed alleles
    
**2. Mean frequency Deserts vs NO Deserts (per chromosome)** 

    Difference mean frequency
    Difference percentage fixed alleles
    
**3. Genes associated to fixed alleles within Deserts**

### **Data processing**

#### Intersection hHF with Deserts

##### In-house deserts and HF bed files

In [110]:
akey = BedTool('/home/juanandres/Desktop/TFM_raul/tmp_section1/2020_akeydeserts_coords.bed')
print(len(akey))
hf = BedTool('/home/juanandres/Desktop/TFM_raul/tmp_section1/2020_Nahigh_freq.bed')
print(len(hf))
pey = BedTool('/home/juanandres/Desktop/TFM_raul/tmp_section1/2020_pey_coords.bed')
print(len(pey))

4
136414
314

#### Intersection hHF within Deserts

In [111]:
w_hf = akey.intersect(hf, wo=True)
print(len(w_hf))

3652

#### Intersection hHF within no Deserts

In [112]:
wo_hf = hf.intersect(akey, wo=True, v=True)
print(len(wo_hf))

132762

#### Result | Intersection hHF with Deserts: Bed files

In [5]:
w_hf.saveas("Nahigh_freq_WITHIN_deserts.bed")
wo_hf.saveas("Nahigh_freq_NOT_in_deserts.bed")

#### Intersection hHF within Deserts & Pey

In [62]:
t = pey.intersect(akey, wo=True, f=1)
#print(len(t))
print(t.head())
t1 = hf.intersect(t, wa=True, f=1)
print(t1.head())
t1.saveas("/home/juanandres/Desktop/TFM_raul/tmp_section1/Nahigh_freq_WITHIN_DesPey.bed")

chr1	113427676	113560554	chr1	105399999	120600000	132878
 chr1	114641362	114645248	chr1	105399999	120600000	3886
 chr1	119322276	119387279	chr1	105399999	120600000	65003
 chr3	77027847	77034264	chr3	74099999	89300000	6417
 chr7	106877730	107233808	chr7	106199999	123200000	356078
 chr7	116762909	116773234	chr7	106199999	123200000	10325
 chr7	120147456	120174406	chr7	106199999	123200000	26950
 chr7	122320035	122406480	chr7	106199999	123200000	86445
 None
chr1	113429812	113429813	rs182867606
 chr1	113431367	113431368	Nan
 chr1	113431377	113431378	Nan
 chr1	113432854	113432855	rs182388769
 chr1	113432908	113432909	rs187367826
 chr1	113439095	113439096	rs541465271
 chr1	113447694	113447695	rs143992612
 chr1	113453388	113453389	Nan
 chr1	113453518	113453519	rs753683422
 chr1	113461216	113461217	Nan
 None

### **1. COMPARISON | Deserts vs NO Deserts (Whole genome):**

In [3]:
df1 = pd.read_csv("/home/juanandres/Desktop/TFM_raul/tmp_section1/Nahigh_freq_WITHIN_deserts.bed", sep='\t', header=None)
df2 = pd.read_csv("/home/juanandres/Desktop/TFM_raul/tmp_section1/Nahigh_freq_NOT_in_deserts.bed", sep='\t', header=None)

#### Pandas dataframes

In [4]:
df1.drop([7], axis=1, inplace=True)
df1.columns = ['chr', 'Desert_start','Desert_end', 'chr_hg19', 'POS_start', 'POS_end', 'dbSNP']
df2.columns = ['chr', 'POS_start', 'POS_end', 'dbSNP']

In [5]:
df1.drop(['POS_start'], axis=1, inplace=True)
df1['POS'] = df1['chr_hg19'].str.split("chr", expand=True)[1]
df1['POS'] = df1['POS'].astype(str)
df1['POS'] = df1['POS'].str.cat(df1['POS_end'].astype(str), sep=':')
df1.drop(['POS_end', 'dbSNP'], axis=1, inplace=True)

In [6]:
df2
df2.drop(['POS_start'], axis=1, inplace=True)
df2['POS'] = df2['chr'].str.split("chr", expand=True)[1]
df2['POS'] = df2['POS'].astype(str)
df2['POS'] = df2['POS'].str.cat(df2['POS_end'].astype(str), sep=':')
df2.drop(['POS_end', 'dbSNP'], axis=1, inplace=True)
df2.head(2)

    chr          POS
0  chr1  1:100115650
1  chr1  1:100142602

In [7]:
df3 = pd.read_csv("/home/juanandres/Desktop/TFM_raul/tmp_section1/Nahigh_freq_WITHIN_DesPey.bed", sep='\t', header=None)
df3.drop([1], axis=1, inplace=True)
df3.columns = ['chr', 'SNP_pos', 'rsID']
df3['POS'] = df3['chr'].str.split("chr", expand=True)[1]
df3['POS'] = df3['POS'].astype(str)
df3['POS'] = df3['POS'].str.cat(df3['SNP_pos'].astype(str), sep=':')

In [8]:
martin = pd.read_csv("/home/juanandres/Desktop/TFM_raul/tmp_section1/Na_high_freq.tsv", sep='\t')

/home/juanandres/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
#Des with Martin info
martin_c1 = martin[['POS','dbSNP', 'human_DAF', 'Gene_name']]
desMartin = martin_c1.merge(df1, on = 'POS' )
desMartin.drop(['chr_hg19'], axis=1, inplace=True)
desMartin

,POS,dbSNP,human_DAF,Gene_name,chr,Desert_start,Desert_end
0,1:105415055,rs75934053,0.994010,NaN,chr1,105399999,120600000
1,1:105431906,rs75782466,0.978235,NaN,chr1,105399999,120600000
2,1:105433287,rs75858792,0.976637,NaN,chr1,105399999,120600000
3,1:105433631,rs76846285,0.976637,NaN,chr1,105399999,120600000
4,1:105434092,rs75655612,0.971446,NaN,chr1,105399999,120600000
...,...,...,...,...,...,...,...
3647,8:66108707,rs34033868,0.943091,NaN,chr8,49399999,66500000
3648,8:66113157,rs71529161,0.968850,NaN,chr8,49399999,66500000
3649,8:66345121,rs72662866,0.985823,NaN,chr8,49399999,66500000
3650,8:66347433,rs72662871,0.997204,NaN,chr8,49399999,66500000
3651,8:66434428,rs7009788,0.983027,CTD-3025N20.2,chr8,49399999,66500000

In [10]:
#No Deserts with Martin info
NOdesMartin = martin_c1.merge(df2, on = 'POS' )
NOdesMartin.drop(['chr'], axis=1, inplace=True)
NOdesMartin

                POS        dbSNP  human_DAF Gene_name
0       1:100115650  rs190210801   0.993610     PALMD
1       1:100142602   rs12063715   0.962660     PALMD
2       1:100142648   rs76085216   0.962859     PALMD
3       1:100143040   rs11166290   0.963059     PALMD
4       1:100143392   rs11166292   0.962660     PALMD
...             ...          ...        ...       ...
132757   X:99985304   rs60975472   0.990199     SYTL4
132758   X:99985571   rs58902780   0.990199     SYTL4
132759   X:99986791  rs184572084   0.990464     SYTL4
132760   X:99989211  rs139341327   0.990199     SYTL4
132761   X:99993728  rs143310972   0.990199       NaN

[132762 rows x 4 columns]

In [11]:
#Des+Pey with Martin info
DesPeyMartin = martin_c1.merge(df3, on = 'POS' )
DesPeyMartin.drop(['rsID'], axis=1, inplace=True)
DesPeyMartin

             POS        dbSNP  human_DAF    Gene_name   chr    SNP_pos
0    1:113429813  rs182867606   0.999800  RP3-522D1.2  chr1  113429813
1    1:113431368            -   1.000000  RP3-522D1.2  chr1  113431368
2    1:113431378            -   1.000000  RP3-522D1.2  chr1  113431378
3    1:113432855  rs182388769   0.999002  RP3-522D1.2  chr1  113432855
4    1:113432909  rs187367826   0.999002  RP3-522D1.2  chr1  113432909
..           ...          ...        ...          ...   ...        ...
233  7:122375357  rs193277951   1.000000       CADPS2  chr7  122375357
234  7:122375618  rs376859181   0.999800       CADPS2  chr7  122375618
235  7:122376412            -   1.000000       CADPS2  chr7  122376412
236  7:122379455            -   1.000000       CADPS2  chr7  122379455
237  7:122390464  rs141147427   0.992612       CADPS2  chr7  122390464

[238 rows x 6 columns]

#### **Result | Mean frequency HF SNP in Deserts:**

In [163]:
desMartin['human_DAF'].mean()

0.9698644049835707

#### **Result | Mean frequency HF SNP in DesertsPey:**

In [210]:
DesPeyMartin['human_DAF'].mean()

0.9945985168067227

#### **Result | Mean frequency HF SNP in NO Deserts (whole genome):**

In [168]:
martin['human_DAF'].mean()

0.9638732558461741

##### Result | Mean frequency HF SNP difference deserts vs NO deserts

In [169]:
desMartin['human_DAF'].mean()-martin['human_DAF'].mean()

0.005991149137396623

#### **Result | Percentage of fixed alleles in Deserts:**

In [173]:
len(desMartin[desMartin['human_DAF'] == 1])/len(desMartin)*100

16.182913472070098

#### **Result | Percentage of fixed alleles in NO Deserts (whole genome):**

In [180]:
len(NOdesMartin[NOdesMartin['human_DAF'] == 1])/len(NOdesMartin)*100

8.613910606950784

##### Result | Difference in Proportion fixed alleles Deserts vs NO Deserts (whole genome):

In [181]:
(len(desMartin[desMartin['human_DAF'] == 1])/len(desMartin)*100)/(len(NOdesMartin[NOdesMartin['human_DAF'] == 1])/len(NOdesMartin)*100)

1.8786953116290404

#### **Result | Percentage of fixed alleles in DesertsPey:**

In [12]:
len(DesPeyMartin[DesPeyMartin['human_DAF'] == 1])/len(DesPeyMartin)*100

46.21848739495798

In [15]:
print(len(DesPeyMartin[DesPeyMartin['human_DAF'] == 1]))
print(len(DesPeyMartin))

238

### **2. COMPARISON | Deserts vs NO Deserts (Per chromosome):**

In [191]:
NOdesMartin['chr'] = "chr"+NOdesMartin['POS'].str.split(":", expand=True)[0]

In [194]:
##Desert chromosomes: 
### df1_wF['chr'].unique() --> array(['chr1', 'chr3', 'chr7', 'chr8'], dtype=object)
NOdesMartin_chr = NOdesMartin[(NOdesMartin['chr'] == 'chr1') | (NOdesMartin['chr'] == 'chr3') | (NOdesMartin['chr'] == 'chr7') | (NOdesMartin['chr'] == 'chr8')]
print(len(NOdesMartin_chr))

31097

In [204]:
NOdesMartin_chr['chr'].unique()

array(['chr1', 'chr3', 'chr7', 'chr8'], dtype=object)

#### **Result | Mean frequency HF SNP in NO Deserts (per chr):**

In [205]:
NOdesMartin_chr['human_DAF'].mean()

0.963943538444223

##### Result | Mean frequency HF SNP difference deserts vs NO deserts (per chr)

In [206]:
desMartin['human_DAF'].mean()-NOdesMartin_chr['human_DAF'].mean()

0.005920866539347758

#### **Result | Percentage of fixed alleles in NO Deserts (per chr):**

In [207]:
len(NOdesMartin_chr[NOdesMartin_chr['human_DAF'] == 1])/len(NOdesMartin_chr)*100

8.319130462745603

##### Result | Difference in Proportion fixed alleles Deserts vs NO Deserts (per chr):

In [208]:
(len(desMartin[desMartin['human_DAF'] == 1])/len(desMartin)*100)/(len(NOdesMartin_chr[NOdesMartin_chr['human_DAF'] == 1])/len(NOdesMartin_chr)*100)

1.9452650183261067

### SUMMARY TABLE

In [213]:
summary = {'Frequency': [desMartin['human_DAF'].mean(), NOdesMartin_chr['human_DAF'].mean(), DesPeyMartin['human_DAF'].mean()], '% Fixed alleles': [len(desMartin[desMartin['human_DAF'] == 1])/len(desMartin)*100, len(NOdesMartin_chr[NOdesMartin_chr['human_DAF'] == 1])/len(NOdesMartin_chr)*100, len(DesPeyMartin[DesPeyMartin['human_DAF'] == 1])/len(DesPeyMartin)*100]}
pd.DataFrame(summary, index=['Deserts', 'No Deserts (per chr)', 'D+Pey'])

                      Frequency  % Fixed alleles
Deserts                0.969864        16.182913
No Deserts (per chr)   0.963944         8.319130
D+Pey                  0.994599        46.218487

In [224]:
print(len(desMartin[desMartin['human_DAF'] == 1]))
print(len(desMartin))
#
print(len(DesPeyMartin[DesPeyMartin['human_DAF'] == 1]))
print(len(DesPeyMartin))

591
3652
110
238

In [225]:
desMartin.to_csv("/home/juanandres/Desktop/TFM_raul/tmp_section1/tmp1_df1.csv", sep='\t', header=False, index=False)
NOdesMartin.to_csv("/home/juanandres/Desktop/TFM_raul/tmp_section1/tmp1_df2.csv", sep='\t', header=False, index=False)
DesPeyMartin.to_csv("/home/juanandres/Desktop/TFM_raul/tmp_section1/tmp1_df3.csv", sep='\t', header=False, index=False)

### **3. Genes associated to *fixed alleles within Deserts*:**

In [24]:
genesnames_fixed = pd.DataFrame(df1_wF[df1_wF['human_DAF'] == 1]['Gene_name'].unique())

Need to reformat the data (column contains gene names separated by semicolon)

In [25]:
genesnames_fixed[0] = genesnames_fixed[0].astype(str)

In [26]:
genesnames_fixed=pd.DataFrame(genesnames_fixed[0].str.split(";").tolist()).stack()

In [27]:
genesnames_fixed.reset_index(drop=True, inplace=True)

In [28]:
genesnames_fixed = genesnames_fixed[~genesnames_fixed.str.contains("nan")]

In [29]:
genesnames_fixed.drop_duplicates(inplace=True)
genesnames_fixed.reset_index(drop=True, inplace=True)

##### **Result | Genes associated to fixed alleles within Deserts** (Martin & Boeckx 2019 SNP-gene association)

In [30]:
print(genesnames_fixed.head(10))
print(len(genesnames_fixed))

0           VAV3
1          GPSM2
2         AKNAD1
3          KCNC4
4        FAM19A3
5    RP3-522D1.1
6        SLC16A1
7    SLC16A1-AS1
8         VANGL1
9       SLC22A15
dtype: object
49

In [31]:
genesnames_fixed.to_csv("Fixed_alleles_inDeserts_Genenames.csv", header=True, index=False, sep='\t')

### Permutation test (R code)

### biomaRt - Bioconductor: *Extracting gene names from Akey deserts* (R code)