# Degree of Fixation

In [3]:
import pandas as pd
from pybedtools import BedTool

**INDEX**

**Data processing**

Human high-frequency changes within Deserts

Human high-frequency changes not in Deserts

**1. Deserts vs NO Deserts (Whole genome)** 
    
    Difference mean frequency
    Difference percentage fixed alleles
    
**2. Mean frequency Deserts vs NO Deserts (per chromosome)** 

    Difference mean frequency
    Difference percentage fixed alleles
    
**3. Genes under putative PosSel within Introgression deserts**

### **Data processing**

#### Intersection hHF with Deserts

##### Deserts and HF bed files 
### Deserts of introgression retrieved from https://doi.org/10.1016/j.cell.2020.01.012
### Regions under positive selection retrieved from https://doi.org/10.1101/gr.219493.116
### Homo sapiens SNCs retrieved from https://doi.org/10.1038/s41598-019-44877-x

In [ ]:
akey = BedTool('~/2020_akeydeserts_coords.bed')
print(len(akey))
hf = BedTool('~/2020_Nahigh_freq.bed')
print(len(hf))
pey = BedTool('~/2020_pey_coords.bed')
print(len(pey))

#### Intersection hHF within Deserts

In [ ]:
w_hf = akey.intersect(hf, wo=True)
print(len(w_hf))

#### Intersection hHF within no Deserts

In [ ]:
wo_hf = hf.intersect(akey, wo=True, v=True)
print(len(wo_hf))

#### Result | Intersection hHF with Deserts: Bed files

In [ ]:
w_hf.saveas("Nahigh_freq_WITHIN_deserts.bed")
wo_hf.saveas("Nahigh_freq_NOT_in_deserts.bed")

#### Intersection hHF within Deserts & Pey

In [ ]:
t = pey.intersect(akey, wo=True, f=1)
#print(len(t))
print(t.head())
t1 = hf.intersect(t, wa=True, f=1)
print(t1.head())
t1.saveas("~/Nahigh_freq_WITHIN_DesPey.bed")

### **1. COMPARISON | Deserts vs NO Deserts (Whole genome):**

In [ ]:
df1 = pd.read_csv("~/Nahigh_freq_WITHIN_deserts.bed", sep='\t', header=None)
df2 = pd.read_csv("~/Nahigh_freq_NOT_in_deserts.bed", sep='\t', header=None)

#### Pandas dataframes

In [ ]:
df1.drop([7], axis=1, inplace=True)
df1.columns = ['chr', 'Desert_start','Desert_end', 'chr_hg19', 'POS_start', 'POS_end', 'dbSNP']
df2.columns = ['chr', 'POS_start', 'POS_end', 'dbSNP']

In [ ]:
df1.drop(['POS_start'], axis=1, inplace=True)
df1['POS'] = df1['chr_hg19'].str.split("chr", expand=True)[1]
df1['POS'] = df1['POS'].astype(str)
df1['POS'] = df1['POS'].str.cat(df1['POS_end'].astype(str), sep=':')
df1.drop(['POS_end', 'dbSNP'], axis=1, inplace=True)

In [ ]:
df2
df2.drop(['POS_start'], axis=1, inplace=True)
df2['POS'] = df2['chr'].str.split("chr", expand=True)[1]
df2['POS'] = df2['POS'].astype(str)
df2['POS'] = df2['POS'].str.cat(df2['POS_end'].astype(str), sep=':')
df2.drop(['POS_end', 'dbSNP'], axis=1, inplace=True)
df2.head(2)

In [ ]:
df3 = pd.read_csv("~/Nahigh_freq_WITHIN_DesPey.bed", sep='\t', header=None)
df3.drop([1], axis=1, inplace=True)
df3.columns = ['chr', 'SNP_pos', 'rsID']
df3['POS'] = df3['chr'].str.split("chr", expand=True)[1]
df3['POS'] = df3['POS'].astype(str)
df3['POS'] = df3['POS'].str.cat(df3['SNP_pos'].astype(str), sep=':')

In [ ]:
martin = pd.read_csv("~/Na_high_freq.tsv", sep='\t')

In [ ]:
#Des with Martin info
martin_c1 = martin[['POS','dbSNP', 'human_DAF', 'Gene_name']]
desMartin = martin_c1.merge(df1, on = 'POS' )
desMartin.drop(['chr_hg19'], axis=1, inplace=True)
desMartin

In [ ]:
#No Deserts with Martin info
NOdesMartin = martin_c1.merge(df2, on = 'POS' )
NOdesMartin.drop(['chr'], axis=1, inplace=True)
NOdesMartin

In [ ]:
#Des+Pey with Martin info
DesPeyMartin = martin_c1.merge(df3, on = 'POS' )
DesPeyMartin.drop(['rsID'], axis=1, inplace=True)
DesPeyMartin

#### **Result | Mean frequency HF SNP in Deserts:**

In [ ]:
desMartin['human_DAF'].mean()

#### **Result | Mean frequency HF SNP in DesertsPey:**

In [ ]:
DesPeyMartin['human_DAF'].mean()

#### **Result | Mean frequency HF SNP in NO Deserts (whole genome):**

In [ ]:
martin['human_DAF'].mean()

##### Result | Mean frequency HF SNP difference deserts vs NO deserts

In [ ]:
desMartin['human_DAF'].mean()-martin['human_DAF'].mean()

#### **Result | Percentage of fixed alleles in Deserts:**

In [ ]:
len(desMartin[desMartin['human_DAF'] == 1])/len(desMartin)*100

#### **Result | Percentage of fixed alleles in NO Deserts (whole genome):**

In [ ]:
len(NOdesMartin[NOdesMartin['human_DAF'] == 1])/len(NOdesMartin)*100

##### Result | Difference in Proportion fixed alleles Deserts vs NO Deserts (whole genome):

In [ ]:
(len(desMartin[desMartin['human_DAF'] == 1])/len(desMartin)*100)/(len(NOdesMartin[NOdesMartin['human_DAF'] == 1])/len(NOdesMartin)*100)

#### **Result | Percentage of fixed alleles in DesertsPey:**

In [ ]:
len(DesPeyMartin[DesPeyMartin['human_DAF'] == 1])/len(DesPeyMartin)*100

In [ ]:
print(len(DesPeyMartin[DesPeyMartin['human_DAF'] == 1]))
print(len(DesPeyMartin))

In [ ]:
DesPeyMartin[DesPeyMartin['human_DAF'] == 1]['Gene_name'].unique()

### **2. COMPARISON | Deserts vs NO Deserts (Per chromosome):**

In [ ]:
NOdesMartin['chr'] = "chr"+NOdesMartin['POS'].str.split(":", expand=True)[0]

In [ ]:
##Desert chromosomes: 
### df1_wF['chr'].unique() --> array(['chr1', 'chr3', 'chr7', 'chr8'], dtype=object)
NOdesMartin_chr = NOdesMartin[(NOdesMartin['chr'] == 'chr1') | (NOdesMartin['chr'] == 'chr3') | (NOdesMartin['chr'] == 'chr7') | (NOdesMartin['chr'] == 'chr8')]
print(len(NOdesMartin_chr))

In [ ]:
NOdesMartin_chr['chr'].unique()

#### **Result | Mean frequency HF SNP in NO Deserts (per chr):**

In [ ]:
NOdesMartin_chr['human_DAF'].mean()

##### Result | Mean frequency HF SNP difference deserts vs NO deserts (per chr)

In [ ]:
desMartin['human_DAF'].mean()-NOdesMartin_chr['human_DAF'].mean()

#### **Result | Percentage of fixed alleles in NO Deserts (per chr):**

In [ ]:
len(NOdesMartin_chr[NOdesMartin_chr['human_DAF'] == 1])/len(NOdesMartin_chr)*100

##### Result | Difference in Proportion fixed alleles Deserts vs NO Deserts (per chr):

In [ ]:
(len(desMartin[desMartin['human_DAF'] == 1])/len(desMartin)*100)/(len(NOdesMartin_chr[NOdesMartin_chr['human_DAF'] == 1])/len(NOdesMartin_chr)*100)

### SUMMARY TABLE

In [ ]:
summary = {'Frequency': [desMartin['human_DAF'].mean(), NOdesMartin_chr['human_DAF'].mean(), DesPeyMartin['human_DAF'].mean()], '% Fixed alleles': [len(desMartin[desMartin['human_DAF'] == 1])/len(desMartin)*100, len(NOdesMartin_chr[NOdesMartin_chr['human_DAF'] == 1])/len(NOdesMartin_chr)*100, len(DesPeyMartin[DesPeyMartin['human_DAF'] == 1])/len(DesPeyMartin)*100]}
pd.DataFrame(summary, index=['Deserts', 'No Deserts (per chr)', 'D+Pey'])

In [ ]:
print(len(desMartin[desMartin['human_DAF'] == 1]))
print(len(desMartin))
#
print(len(NOdesMartin[NOdesMartin['human_DAF'] == 1]))
print(len(NOdesMartin))
#
print(len(DesPeyMartin[DesPeyMartin['human_DAF'] == 1]))
print(len(DesPeyMartin))

In [ ]:
summary_table = pd.DataFrame(summary, index=['Deserts', 'No Deserts (per chr)', 'D+Pey'])

In [ ]:
summary_table

In [ ]:
summary_table.to_csv("~/desertsHomo/1.data/stat_freq/Supplementary_Table_1.csv",sep = "\t")

### **3. Genes under putative PosSel within Introgression deserts:**

In [32]:
possel_des = pd.DataFrame(["SLC16A1","SYT6","ROBO2" ,"ST7","KCND2","CADPS2","RNF133","RNF148" , "COG5","GPR22","DUS4L","BCAP29"])

In [6]:
#Homo sapiens SNCs retrieved from https://doi.org/10.1038/s41598-019-44877-x
hf = pd.read_csv("/home/juan/Downloads/Na_high_freq.tsv", sep='\t')

/home/juan/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [11]:
missense = hf[hf['consequence'].str.contains("missense")]

In [13]:
missense.reset_index(drop=True, inplace=True)

In [17]:
missense['Gene_name'].str

0                     VCAM1
1                  C1orf159
2                   COL11A1
3      EXOSC10;RP4-635E18.7
4                    TTLL10
               ...
643                   ZC4H2
644          IGBP1;MTND4P31
645                    ATRX
646                  GPR143
647                 SHROOM2
Name: Gene_name, Length: 648, dtype: object

In [24]:
pd.concat([pd.Series(row['human_DAF'], row['Gene_name'].split(';'))              
                    for _, row in missense.iterrows()]).reset_index()

             index         0
0            VCAM1  0.999992
1         C1orf159  1.000000
2          COL11A1  0.928468
3          EXOSC10  0.970215
4     RP4-635E18.7  0.970215
...            ...       ...
1024         IGBP1  0.982810
1025      MTND4P31  0.982810
1026          ATRX  0.999508
1027        GPR143  0.996612
1028       SHROOM2  0.993848

[1029 rows x 2 columns]

In [36]:
mis_genenames = pd.DataFrame(pd.concat([pd.Series(row['human_DAF'], row['Gene_name'].split(';'))              
                    for _, row in missense.iterrows()]).reset_index()['index'])

In [37]:
mis_genenames

             index
0            VCAM1
1         C1orf159
2          COL11A1
3          EXOSC10
4     RP4-635E18.7
...            ...
1024         IGBP1
1025      MTND4P31
1026          ATRX
1027        GPR143
1028       SHROOM2

[1029 rows x 1 columns]

In [33]:
possel_des

          0
0   SLC16A1
1      SYT6
2     ROBO2
3       ST7
4     KCND2
5    CADPS2
6    RNF133
7    RNF148
8      COG5
9     GPR22
10    DUS4L
11   BCAP29

In [39]:
len(mis_genenames[mis_genenames['index'].isin(possel_des[0])])

0